*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background-color: darkblue;
    display: flex;
    justify-content: right;
    height: 100vh;
    width: 100vw;
}
.shooting-stars{
    width: 50%;
    height: 100%;
    transform: rotate(45deg) translatey(-20%);
    display: flex;
    justify-content: space-between;
    
    
//shooting stars div
    .item{
        background-color: white;
        width: 1px;
        height: 2rem;
        
    }
  
}