


@mixin move-dropping-stars ($duration){
    animation: move;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    
    animation-timing-function: linear;
}
@for $i from 1 through 30{
    .item:nth-child(#{$i}){
        background-color: #{rgba(random(255), random(255),random(255))};
        height:random(40) + vh;
        @include move-dropping-stars(random($i)+ 2s)
    }
}
// @if ($i % 2 == 0) even
// @if ($i % 2 != 0) odd

@keyframes move {
    from{
        opacity: 0.5;
    }
    to{
        height: random(50) + vh ;
        width: 2px;
        transform: translatey(100vw);
        opacity: 1;
    }
}
