//color
$bg-light-color-menu: orange;
$bg-light-main-landing-color:gray;
$bg-light-footer-color:black;
//size
$box-height:4rem;
$box-width:4rem;
//items count
$items-count: 10; //div number
$random-bg-color: #{rgba(random(255), random(255),random(255))};