@keyframes move {
    from{
        transform: scaley(1) ;
    }
    to{
        transform: scaleY(1.5);
    }
    
}
.main-box{
    display: grid;
    grid-template-columns: repeat($items-count, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
    
}
@mixin move-animation-setup($duration){
    animation: move;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@for $i from 1 through $items-count{
    .item:nth-child(#{$i}){
background-color: lighten(orange, random(40));
height: random(40) + vh;
border-radius: 2rem ;
// @if ($i % 2 == 0) even
// @if ($i % 2 != 0) odd

@if ($i % 2 != 0){
    background-color: rgba(random(200) +10,
    random(220)+$i,
    random(100)+ random(150),
    random(1)
    );
    align-self: end;
}
@include move-animation-setup(random(3)+s)
}
} 

